/* body */
body {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* set background image */
    background-image: url("assets/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* —————————————————— FIRST CONTAINER —————————————————— */


/* container */
.container {
    display: grid;
    grid-template-columns: 7vw 14vw 14vw 7vw;
    grid-template-rows: 50px 140px 80px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "letter-header letter-header letter-header letter-icon"
        ". letter-body letter-body letter-icon"
        ". no-btn yes-btn letter-icon";
    overflow: hidden;
    /* glass blur effect */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* .container > * {
    border: 1px solid black;
} */


/* letter header */
.letter-header { 
    grid-area: letter-header;
    display: flex;
    /* align-items: start; */
}
.header-text{
    margin-left: 4%;
    margin-top: 3%;
    font-weight: 700;
}


/* letter icon */
.letter-icon { 
    grid-area: letter-icon; 
}
.header-image,
.header-image-hover,
.header-image-broken,
.header-image-broken-hover {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 70px;
    transition: all 250ms ease-in-out;
    z-index: 1;
}
.header-image-hover,
.header-image-broken-hover {
    opacity: 0;
    z-index: 2;
}
.image-link:hover .header-image-hover,
.image-link-broken:hover .header-image-broken-hover{
    opacity: 1;
}


/* letter body */
.letter-body { 
    grid-area: letter-body;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.body-text {
    word-wrap: break-word;
    text-align: center;
}


/* common buttons */
.no-btn, .yes-btn {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0;
}
.no-button, .yes-button{
    font: "Inter";
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    width: 60%;
    align-items: center;
    border:1px solid rgba(255, 255, 255, 0.18);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
}
.no-button:disabled,
.yes-button:disabled {
    background-color: rgba(118, 118, 118, 0.3);
    color: rgba(26, 26, 26, 0.888);
    cursor: not-allowed;
}

.no-button:disabled:hover,
.yes-button:disabled:hover {
    background-color: rgba(118, 118, 118, 0.3);
    box-shadow: none;
}


/* no buttons */
.no-btn { 
    grid-area: no-btn;
}
.no-button {
    background-color: rgba(255, 188, 188, 0.3);
}
.no-button:hover {
    transform: translateY(-2px);
    background-color: rgba(255, 188, 188, 0.8);
    box-shadow: rgba(255, 188, 188, 0.6) 0 4px 12px;
}
.no-button:active {
    transform: translateY(1px);
    background-color: rgba(180, 135, 135, 0.6);
}

/* yes buttons */
.yes-btn { 
    grid-area: yes-btn;
}
.yes-button {
    background-color: rgba(107, 126, 255, 0.3);
}
.yes-button:hover {
    transform: translateY(-2px);
    background-color: rgba(107, 126, 255, 0.8);
    box-shadow: rgba(107, 126, 255, 0.6) 0 4px 12px;
}
.yes-button:active {
    transform: translateY(1px);
    background-color: rgba(69, 82, 165, 0.6);
}


/* —————————————————— SECOND CONTAINER —————————————————— */


/* container */
.container2 { 
    display: grid;
    grid-template-columns: 60vw 5vw;
    grid-template-rows: 8vh 8vh 60vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "date-header date-icon"
        "date-message date-message"
        "date-content date-content";
    
    overflow: hidden;
    /* glass blur effect */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
/* .container2 > * {
    border: 1px solid rgb(255, 0, 0);
} */


/* header */
.date-header { 
    grid-area: date-header; 
}
.date-header-text{
    margin-left: 3%;
    margin-top: 2%;
    font-weight: 700;
}


/* icon */
.date-icon { 
    grid-area: date-icon; 
}


/* message  */
.date-message { 
    grid-area: date-message; 
}
.date-message-text {
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5%;
}


/* content */
.date-content { 
    grid-area: date-content;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "x1 x2"
        "x3 x4"; 
}
/* .date-content > * {
    border: 1px solid black;
} */


/* common contents */
.x1, .x2, .x3, .x4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 5%;
    transition: all 100ms ease-in-out;
}
.x1:hover,
.x2:hover,
.x3:hover,
.x4:hover {
    cursor: pointer;
    background: rgba(24, 24, 24, 0.451);
}
.x1-img, .x2-img, .x3-img, .x4-img {
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: -3%;
}